<div class="container">

  <h2>Attendance</h2>

  <input placeholder="Student ID" [(ngModel)]="model.studentID">
  <input placeholder="Course Code" [(ngModel)]="model.courseCode">
  <input type="date" [(ngModel)]="model.date">
  <input placeholder="Status (Present/Absent)" [(ngModel)]="model.status">

  <br><br>

  <button type="button" (click)="saveAttendance()">Add Attendance</button>

  <button type="button" (click)="showTable = !showTable">
    {{ showTable ? 'Hide' : 'Show' }} Attendance
  </button>

  <hr>

  @if (showTable) {
    <table border="1" cellpadding="6">
      <tr>
        <th>Student</th>
        <th>Course</th>
        <th>Date</th>
        <th>Status</th>
      </tr>

      @for (a of attendanceList; track a.attendanceID) {
        <tr>
          <td>{{ a.studentID }}</td>
          <td>{{ a.courseCode }}</td>
          <td>{{ a.date }}</td>
          <td>{{ a.status }}</td>
        </tr>
      }
    </table>
  }

</div>
